.bordered {
  border: 2px dashed black;
}

#header {
  height: 70px;
  background-color: white;
}

.header-logo,
.header-icons {
  width: 15%;
}

.header-search {
  width: 70%;
  background-color: #e5e5e5;
}

.header-search i {
  width: 25px;
}

.logo-small {
  width: 50px;
  aspect-ratio: 1;
}

#Search {
  background-color: #e5e5e5;
  width: calc(100% - 30px);
}

.main-content {
  height: calc(100vh - 80px);
}

.side-bar {
  width: 60px;
  background-image: url(../img/sidebar-bg.png);
  background-color: #051e34;
}

.dashboard {
  width: calc(100% - 60px);
  overflow: auto;
}

.dash-header {
  width: 100%;
}

.dropdown button {
  color: goldenrod;
  background-color: white;
}

small {
  background-color: #165bba;
  font-size: 0.6rem;
}

td > i {
  background-color: #f26551;
}

.done {
  width: 50px;
}

.state {
  font-size: 0.6rem;
}

td button {
  background-color: white;
  border: 1px solid #6c757d;
  color: #6c757d;
}

.side-item:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

@media screen and (min-width: 992px) {
  .side-bar {
    width: 150px;
  }

  .dashboard {
    width: calc(100% - 150px);
  }

  .offcanvas {
    width: 50% !important;
  }
}

@media screen and (min-width: 768px) {
  .dash-header-item {
    width: calc(100% / 3);
  }

  .dash-header-item:first-child {
    order: 2;
  }

  .dash-header-item:last-child {
    order: 1;
  }
}
